@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

[data-tech]::after {
  content: " ";
  height: .5em;
  width: .5em;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

[data-tech]:last-child {
  margin-right: 1em;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.25em;
  background-color: white;
  padding: 12px;
  box-sizing: border-box;
  /* max-width: 800px; */
  /* text-align: justify; */
}

.container {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  background: yellow!important;
}

a.c {
  display: inline;
  /* white-space: nowrap; */
  word-break: break-all;
  text-decoration: underline;
}

/* span.d {
  margin-right: 1em;
} */

span.d:before {
  content: " – ";
}

span.d::after {
  
}

.tech {
  display: inline-flex;
  align-items: center;
}

.tech span {
  margin-right: 1rem;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1;
  margin-left: 5px;
}

.d.e {
  margin-right: 3px;
}

.filter {
  font-size: .7em;
  font-family: sans-serif;
  text-transform: uppercase;
  padding: 3px 5px;
  margin-bottom: 5px;
}

*:focus {
  outline: 3px solid lightseagreen;
}

.filter.selected {
  background: radial-gradient(#e66465, #9198e5);;
} 

.el,
.el.visible {
  display: inline;
}

.el.mark a.c {
  background: linear-gradient(to right, rgba(0, 255, 0, 0.4), rgba(0,0,0,0));
}

  .filtered .el.mark a.c {
    background: transparent;
  }

.hidden:not(#frame-wrapper) {
  display: none;
}

span.y {
  margin-right: 1em;
  margin-left: 1em;
  font-size: .8em;
  font-family: "Arial", sans-serif;
  color: red;
}

body.filtered .y {
  display: none;
}

#frame-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(0); 
  -webkit-backdrop-filter: blur(0);

  opacity: 0;
  pointer-events: none;
  transition: all .05s linear;
}

#frame-wrapper.visible {
  opacity: 1;
  pointer-events: all;
  backdrop-filter: blur(4px); 
  -webkit-backdrop-filter: blur(4px);
}

#frame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 1px 1px 25px rgba(0,0,0,0.1);
  border-radius: 3px;
  border: none;
  transform: scale(.75);
  pointer-events: all;

  transition: all .1s linear;
}

#frame-wrapper.hidden #frame {
  transform: scale(.65);
  pointer-events: none;
}

#close-frame {
  transform: scale(1.25);
  transform-origin: top left;
}

#framelink {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 2.5rem;
  line-height: 2.5rem;
  padding: 10px;
}