<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% set css %}
      {% include "css/main.css" %}
    {% endset %}
    {% set reset %}
      {% include "css/buttonreset.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
      {{ reset | cssmin | safe }}
    </style>
    <title>{{ title }}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦆</text></svg>">
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>
    <div class="container">
      {# {% include "header.njk" %} #}
      {{ content | safe }}
    </div>
    <br>
    <footer class="footer">
      <a class="c" href="https://moev.biz">https://moev.biz</a> 
      <span class="d">Web design and development</span>
      <span class="d"><a href="tel:+4367761641821">tel:+4367761641821</a></span>
      <span class="d"><a href="mailto:moev.biz@moev.biz">mailto:moev.biz@moev.biz</a></span>
      <span class="d"><a href="https://github.com/moevbiz">github</a></span>
    </footer>
  </body>
  <script>
    {% include "js/main.js" %}
  </script>
</html>



