---
title: moev.biz
layout: default
---

<div class="filters">
  <button class="filter selected" data-filter-value="All">All</button>
{%- for type in sheet.types -%}
  <button class="filter" data-filter-value="{{ type }}">{{ type }}</button>
{%- endfor -%}
</div>

<br>

<style>
  {%- for item in sheet.tech -%}
  [data-tech="{{ item.name }}"]::after {
    background: radial-gradient(white 5%, {{ item.color }});
    border: 1px solid {{ item.color }}
  }
  {%- endfor -%}
</style>

{%- for item in sheet.content -%}
  {% if item.visible === "TRUE" %}
  <div class="el{% if item.mark === 'TRUE' %} mark {% endif %}" 
  data-type="{{ item.type }}">
    {% if item.yearDisplay == true %}
      <span class="y">{{ item.year }}</span>
    {% endif %}
    <a class="c" href="{{ item.link }}" target="_blank" noopener noreferrer>
      {{ item.link }}</a>
    <span class="d">
      {{ item.long }}
    </span>
    {% for tech in item.tech %}
      <i data-tech="{{ tech }}"></i>
    {% endfor %}
  </div>
  {% endif %}
{%- endfor -%}

<br>
<br>

{%- for item in sheet.tech -%}
<div class="tech">
    <i data-tech="{{ item.name }}"></i>
    <span class="techname">{{ item.name }}</span>
</div>
{%- endfor -%}

<iframe id="frame" class="hidden"></iframe>